<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-size: cover;
            position: relative;
        }
        .overlay {
            background: rgba(248, 248, 248, 0.6);
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .overlay h1 {
            color: rgb(0, 0, 0);
            font-size: 3em;
        }
    </style>
</head>
<body>
    <div style="background-image: url('./pngwing.com.png'); width: 400px; height: 400px; ">
    <div class="overlay">
        <h1>Hello World</h1>
    </div>
</div>
</body>
</html>